<section class="action2 container-fluid text-center wow fadeIn">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div style="background:transparent !important" class="jumbotron">
            <h1>
              Profile Picture Placeholder
            </h1>
          </div>
        </div>
    </div>
</section>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <div id = "name_input">
        <%= current_user.name %>
      </div>
      </h3>
      <div id = "name_form">
        <%= form_for current_user, remote: true do |f|  %>
          <%= f.text_field :name %>
          <%= f.submit 'Update Name'%>
        <% end %>
      </div>
      <button id = "edit">Edit</button>
  </div>
  <div class="panel-body">
    Location:
    <div id = "location_input">
      <%= current_user.location %>
    </div>
    <div id = "location_form">
      <%= form_for current_user, remote: true do |f|  %>
        <%= f.text_field :location %>
        <%= f.submit 'Update Location'%>
      <% end %>
    </div>
    <button id = "edit_location">Edit</button>
    <br></br>
    Social Impact Mission:
    <div id = "mission_input">
      <%= current_user.bio %>
    </div>
    <div id = "mission_form">
      <%= form_for current_user, remote: true do |f|  %>
        <%= f.text_field :bio %>
        <%= f.submit 'Update Mission Statement'%>
      <% end %>
    </div>
    <button id = "edit_mission">Edit</button>
  </div>
</div>

<div class="well">
<h3>Total Karma: <%= @points_received.length %></h3>
</div>

<div class="jumbotron">
<h2>Your Recent Events</h2>
  <% current_user.events.each do |event| %>
<h3>Event: <%= event.title %></h3>
<h4>Karma: <%= event.points.length %>
    From: <% event.points.each do |point| %>
          <%= point.sender.name %> -
          <% end %>
  <% end %> </h4>
</div>

<section class="action2 container-fluid text-center wow fadeIn">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <!-- MailChimp Signup Form -->
            <!-- Replace the form action in the line below with your MailChimp embed action! For more informatin on how to do this please visit the Docs! -->
            <h2>Personal Karma D3 Graphic</h2>
            <!-- End MailChimp Signup Form -->
        </div>
    </div>
</section>
