<h1>
  Name:
  <div id = "name_input">
    <%= current_user.name %>
  </div>
  <div id = "name_form">
    <%= form_for current_user, remote: true do |f|  %>
      <%= f.text_field :name %>
      <%= f.submit 'Update Name'%>
    <% end %>
  </div>
  <button id = "edit">Edit</button>
</h1>

<h2>
  Location:
  <div id = "location_input">
    <%= current_user.location %>
  </div>
  <div id = "location_form">
    <%= form_for current_user, remote: true do |f|  %>
      <%= f.text_field :location %>
      <%= f.submit 'Update Location'%>
    <% end %>
  </div>
  <button id = "edit_location">Edit</button>
</h2>

<h2>
  Social Impact Mission:
  <div id = "mission_input">
    <%= current_user.bio %>
  </div>
  <div id = "mission_form">
    <%= form_for current_user, remote: true do |f|  %>
      <%= f.text_field :bio %>
      <%= f.submit 'Update Mission Statement'%>
    <% end %>
  </div>
  <button id = "edit_mission">Edit</button>
</h2>


<h2>User Karma Events </h2>
<h2>Give User Karma Form</h2>
<h2>Personal Karma D3 Graphic</h2>
