<section class="action2 container-fluid text-center wow fadeIn">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div style="background:transparent !important" class="jumbotron">
            <h1>
              Profile Picture Placeholder
            </h1>
          </div>
        </div>
    </div>
</section>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Name: <%= @user.name %>
    </h3>
  </div>
  <div class="panel-body">
    Location: <%= @user.location %>
    <br></br>
    Mission: <%= @user.bio %>
  </div>
</div>

<h2>User's recent events</h2>
<div class="jumbotron">
<% @user.events.each do |event| %>
<h3>Event: <%= event.title %></h3>
<h4>Karma: <%= event.points.length %>
  From: <% event.points.each do |point| %>
        <%= point.sender.name %> -
        <% end %>
<% end %> </h4>
</div>

<% if user_signed_in? %>
  <h2>Give <%=@user.name%> Karma for something awesome they've done! </h2>
  <%= form_tag('/points', method: 'post') do %>
    <%= label_tag("Please select an event to award a karma point") %>
    <%= hidden_field_tag :receiver_id, @user.id %>
    <%= hidden_field_tag :sender_id, current_user.id %>
    <%= collection_select :events, :id, @user.events, :id, :title %>
    <%= submit_tag('Submit') %>
  <% end %>
<% end %>

<h2>Karma: <%= @points_received.length %></h2>

<section class="action2 container-fluid text-center wow fadeIn">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <!-- MailChimp Signup Form -->
            <!-- Replace the form action in the line below with your MailChimp embed action! For more informatin on how to do this please visit the Docs! -->
            <h2>Personal Karma D3 Graphic</h2>
            <!-- End MailChimp Signup Form -->
        </div>
    </div>
</section>
