<% if user_signed_in? %>
  <%= link_to "Profile", controller: "users", action: "show", id: current_user.id %>
<% end %>
<%= link_to "Users", users_path %>
<h1> Homepage </h1>
<h1>IMAGE GOES HERE</h1>
<h2>List of Events</h2>
<% @events.each do |event| %>
<h5><%= event.title %>
<%= event.description %></h5>
<% end %>
<% if user_signed_in? %>
<h2>Event creation form</h2>
<%= render 'create' %>
<% end %>
<h2>Total Karma!</h2>
<%= @points.length %>
