<header class="intro">

    <!-- Video from YouTube. Have Questions? How To: https://github.com/pupunzi/jquery.mb.YTPlayer/wiki -->
    <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=TYrX7w1uIq8', containment:'body', autoPlay:true, realfullscreen:true, optimizeDisplay:true, loop:true, mute:true, startAt:0, stopAt: 200, quality:'auto', opacity:1, showControls: false, showYTLogo:false, vol:25}"></a>

    <div class="intro-body">
        <!-- <img src="img/logo.png" alt="" class="wow fadeIn" data-wow-duration="4s" data-wow-delay=".4s"> -->
        <div id="clock" class="wow fadeIn" data-wow-duration="6s" data-wow-delay=".6s"></div>
        <p class="intro-text wow fadeIn" data-wow-duration="7s" data-wow-delay=".7s">Goodli is COMING SOON. STAY TUNED!</p>

    </div>

    <div class="video-controls">
        <a id="video-volume" class="fa fa-volume-off fa-lg" href="#"></a>
        <a id="video-play" class="fa fa-pause fa-lg" href="#"></a>
    </div>
</header>


<!-- Action2 Section -->
<section class="action2 container-fluid wow fadeIn">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div style="background:transparent !important" class="jumbotron">
            <center><h1>List of Events</h1></center>
              <br></br>
              <% @events.each do |event| %>
                <h3><%= event.title %>: <%= event.description %></h3>
                  <ul>
                    <h4><li>Creator: <%= link_to event.host.name, controller: "users", action: "show", id: event.host.id %></li></h4>
                    <h4><li>Location: <%= event.location %></li></h4>
                    <h4><li>Date: <%= event.date %> </li></h4>
                    <h4><li>Attendees: <% event.users.each do |user| %>
                        <%= user.name %> -
                    </li></h4>
                    <font color="black"><%= button_to "RSVP", controller: 'events', action: "rsvp" %></font>
                  </ul>
                  <% end %>
              <% end %>
          </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about" class="container-fluid text-center wow fadeIn">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <% if user_signed_in? %>
          <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Create an Event</h2>
          </div>
          <div style="background:transparent !important" class="panel-body">
            <%= render 'create' %>
          </div>
        </div>
        <% else %>
          <h2>Log In to Create an Event!</h2>
        <% end %>
        </div>
    </div>
</section>

<!-- About2 Section -->
<section id="about2" class="container-fluid text-center wow fadeIn">
    <div class="col-lg-10 col-lg-offset-1">
        <h1>Karma Exchanged to Date: <%= @points.length %></h1>
    </div>
</section>

<!-- Action2 Section -->
<section class="action2 container-fluid text-center wow fadeIn">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h4>Created by Chris McGuigan, Evan Hawk and George Toothman. Find the code and an overview <a href="https://github.com/georgetoothman/Goodli/">here</a>.</h4>

        </div>
    </div>
</section>
